.App {
  text-align: center;
  background-color: #f0f0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.moviCart{
  background-color: white;
  box-shadow:0 0 5px #000000;
  border-radius: 8px;
  width: 80%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  padding: 24px;
}

.searchBar{
  display: flex;
  padding: 24px;
  width: 80%;
  align-items: center;
}

button{
  margin-left: 20px;
  border: none;
  border-radius: 50px;
  padding: 4px 18px;
  background-color: black;
  color: white;
}

input{
  border-radius: 24px;
  width: 80%;
  padding: 8px;
  padding-left: 16px;
}

img{
  height: 300px;
}

.details{
  text-align: justify;
  padding: 16px 0px 16px 16px;
  overflow: hidden;
  
}

.main_content{
  align-items: center;
  display: flex;
  flex-direction: column;
}

span{
  font-weight: 600;
  padding-right: 8px;
}

.pageNumber{
  padding: 0px 12px;
}
.page{
  display: flex;
  align-items: center;
  padding: 24;
}